/*---------- 共通 ----------*/
body {
  font-size: 2em; 
  text-align: center;
}

#nav {
	background-color: lavender;
}

#nav ul li a:active {
	color: black;
}

#nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#nav ul li {
  display: inline-block; 
	margin: 1% 2%;
}

#nav ul li a {
	text-decoration: none;
}
#nav ul li a:hover {
	text-decoration: underline;
}

.flex {
	position: relative;
	display: flexbox;
	flex-direction: row;
	vertical-align: center;
}
.flex-c {
	display: flexbox;
	flex-direction: column;
}

/*---------- 単語帳 ----------*/
.flexPa {
	display: flex;
	justify-content: center;
}

.marginChi {
	margin-right: 10%;
}

.testStartBtn {
	transform:scale(2.5);
	margin: 1% 10%;
}

.radios {
	display: flex;
	align-items: center;
	justify-content: center;
}

.radio {
	transform:scale(2.0);
	margin: 0.3rem;
	padding: 0.3rem;
}

.badBtn {
	width: 50%;
	height: 50%;
	font-size: 50%;
	text-align: center;
}

table {
	width: 100vw;
	border-collapse: separate;
	border-spacing: 10px 10px; /*左右10上下10*/
	vertical-align: middle;
}

.left {
	position: absolute;
	top: 0;
	left: 10%;
}
.tangochou {
	margin: 4% auto;
}
.tangochou a {
	color: #000;
	text-decoration: none;
}
.tangochou a:hover {
	text-decoration: underline;
}
/*---------- test ----------*/
.backColorTest {
	background-color: white;
	font-weight: bold;
}

.hidden {
	visibility: hidden;
}

#option2 {
	display: flex;
}

.testBtn {
	font-size: 100%;
	width: 33vw;
	height: auto;
	padding: 2rem 1rem;
	border: #000 2px solid;
}

#wrong {
	background-color: rgba(255, 0, 0, 0.42);
}

#normal {
	background-color: rgba(0, 255, 0, 0.42);
}

#right {
	background-color: rgba(0, 0, 255, 0.42);;
}

/* -------------以下チェックボックス------------- */
.checkbox {
	margin:			0 0 10px 20px;
}
/* ラベルのスタイル　*/
.checkbox {
	padding-left:		38px;			/* ラベルの位置 */
	font-size:		32px;
	line-height:		32px;
	display:		inline-block;
	cursor:			pointer;
	position:		relative;
}

/* ボックスのスタイル */
.checkbox {
	content:		'';
	width:			60px;			/* ボックスの横幅 */
	height:			60px;			/* ボックスの縦幅 */
	display:		inline-block;
	position:		absolute;
	left:			0;
	background-color:	#fff;
	box-shadow:		inset 1px 2px 3px 0px #000;
	border-radius:		6px 6px 6px 6px;
}
/* 元のチェックボックスを表示しない */
.checkbox input[type=checkbox] {
	display:		none;
}
/* チェックした時のスタイル */
.checkbox input[type=checkbox]:checked {
	content:		'\2713';		/* チェックの文字 */ 
	font-size:		34px;			/* チェックのサイズ */
	color:			#fff;			/* チェックの色 */
	background-color:	#06f;			/* チェックした時の色 */
}
/* -------------チェックボックス------------- */